.navbar-container{
    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 1.5rem 4rem;

    .navbar-logo{
        height: 5rem;
        width: auto;
        object-fit: contain;
    }
    .navbar-menu{
        list-style-type: none;
        .navbar-menu-item{
            display: inline;
            margin: 0 0.2rem;
            .nav-links{
                text-transform: none;
                color: white;
            }
        }
    }
}